




<template name="headermain">

<div class="mainhead" style="height:180px;">
	<div class="supp">
	<div class="app-bar mainmenu" data-role="appbar">
    <span class="app-bar-divider bg-black"></span>
    <ul class="app-bar-menu">
        <li><a href="">Home</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">Videos</a></li>
         <li><a href="">Threads</a></li>
        <li><a href="">Events</a></li>
        <li><a href="">Bands</a></li>
    </ul>

     <ul class="app-bar-menu place-right">
         <li id="rak"><a href="">Log-out</a></li>
    </ul>

     
	</div>
</div>
</div>

    <hr>
</template>
