
<template name="usermain">

<div class="container">
   {{>headermain}}
<div class="maincont">
<br><br><br>
<center>
<div id="contacts">
  <strong id="hf1">Email us at:</strong><br>
  <p id="ff1">jlbversusxiii@yahoo.com</p>
  <p id="ff1">xtiannacua@yahoo.com</p>
  <br><br><br>
  <strong id="hf1">Like us on Facebook:</strong><br>
  <p id="ff1">Mos Studio Ofiicial page</p>
  <br><br><br>
  <strong id="hf1">Follow on twitter:</strong><br>
  <p id="ff1">MoS Studio Twit</p>
  <br><br><br>
  <strong id="hf1">Contact number</strong><br>
  <p id="ff1">09177988442</p>
</div>
</center>
<br><br><br>
</div>
     {{>footermain}}
</div>

</template>

